@import "tailwindcss";
@plugin "daisyUI";

:root {
  --background: #F9FAFB;
  --foreground: #000;
  --font-heading: 'Manrope', sans-serif;
  --font-body: 'Inter', sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-heading: var(--font-heading);
  --font-body: var(--font-body);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body);
}
